.applicationLabel {
  color: white;
  font-size: 10px;
}

.summaryDropdownsContainer {
  width: 50%;
  display: flex;
}

.headerContainer {
  width: 100%;
  border: solid 1px;
  display: flex;
  height: auto;
  background-color: rgb(16, 16, 110);
  border: none;
}
.logoContainer {
  width: 15%;
  color: white;
}

.navigatorContainer {
  width: 5%;
  color: white;
}

.showOrHideHorizontalContainer {
  width: 5%;
  color: white;
}

.titleContainer {
  width: 25%;
  color: white;
}
span.display-text {
}

/* Application Dropdown container */
.applicationDropdown {
}
.navigatorSvg {
  width: 10px;
  transform: rotate(270deg);
  position: relative;
  left: 12px;
  top: 12px;
}
.horizantalPng {
  width: 15px;
  position: relative;
  top: 16px;
  left: 18px;
}
.applicationDropdownWrapper {
  width: 100px;
}
.applicationDropdownWrapper button.ngx-dropdown-button {
  height: 18px !important;
}
