@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.executiveSummaryContianer {
  height: auto;
  border: solid 0.5px;
  /* height: 600px; 
    position: relative;
  left: 10px;
  width: 99%;*/
  min-height: 700px;
  height: 664px;
}

.errorDetailsComponentContainer {
  min-height: 612px;
  height: auto;
}
.summaryComponentsContainer {
  height: 500px;
}
.errorDetailsFiltercontiner {
  width: 99%;
  height: 200px;
  border: solid 1px;
  position: relative;
  left: 6px;
  top: 9px;
  display: flex;
}
.filterGroup1,
.filterGroup2,
.filterGroup3,
.filterGroup4,
.filterGroup5 {
  margin-right: 36px;
  width: 25%;
  position: relative;
  left: 6px;
}
.filterGroup1 .label {
  font-size: 15px;
}
.labelComponentWrapper {
  margin-top: 7px;
}
.gridWrapper {
  width: 99%;
  position: relative;
  top: 16px;
  right: -5px;
  border: solid 0.5px;
  height: auto;
}
