<div class="errorDetailsComponentContainer">
  <div>
    <et-error-details-header></et-error-details-header>
  </div>

  <div class="errorDetailsFiltercontiner">
    <div class="filterGroup1">
      <div class="labelComponentWrapper">
        <div class="label">Application</div>
        <et-multiselect-dropdown
          [dropdownList]="applicationDropdownData"
          [onItemSelect]="onSlectApplicationItem"
          [selectedItems]="applicationSelectedItems"
        ></et-multiselect-dropdown>
      </div>
      <div class="labelComponentWrapper">
        <div class="label">Database</div>
        <et-multiselect-dropdown
          [dropdownList]="databaseDropdownData"
        ></et-multiselect-dropdown>
      </div>
      <div class="labelComponentWrapper">
        <div class="label">Table</div>
        <et-multiselect-dropdown
          [dropdownList]="tableDropdownData"
        ></et-multiselect-dropdown>
      </div>
    </div>
    <div class="filterGroup2">
      <div class="labelComponentWrapper">
        <div class="label">Dimension</div>
        <et-multiselect-dropdown
          [dropdownList]="dimentionDropdownData"
        ></et-multiselect-dropdown>
      </div>
      <div class="labelComponentWrapper">
        <div class="label">Rule</div>
        <et-multiselect-dropdown
          [dropdownList]="ruleDropdownData"
        ></et-multiselect-dropdown>
      </div>
      <div class="labelComponentWrapper">
        <div class="label">CDE</div>
        <et-multiselect-dropdown
          [dropdownList]="cdeDropdownData"
        ></et-multiselect-dropdown>
      </div>
    </div>
    <div class="filterGroup3">
      <div class="labelComponentWrapper">
        <div class="label">Managing info. Steward</div>
        <et-multiselect-dropdown
          [dropdownList]="mngInfoStewardDropdownData"
        ></et-multiselect-dropdown>
      </div>
      <div class="labelComponentWrapper">
        <div class="label">Info. Steward</div>
        <et-multiselect-dropdown
          [dropdownList]="infoStewardDropdownData"
        ></et-multiselect-dropdown>
      </div>
      <div class="labelComponentWrapper">
        <div class="label">Report Exec.</div>
        <et-multiselect-dropdown
          [dropdownList]="reportExecDropdownData"
        ></et-multiselect-dropdown>
      </div>
    </div>
    <div class="filterGroup4">
      <div class="labelComponentWrapper">
        <div class="label">Information Category</div>
        <et-multiselect-dropdown
          [dropdownList]="infoCatDrpdownData"
        ></et-multiselect-dropdown>
      </div>
      <div class="labelComponentWrapper">
        <div class="label">Reporting Type</div>
        <et-multiselect-dropdown
          [dropdownList]="reportingTypeDropdownData"
        ></et-multiselect-dropdown>
      </div>
      <div class="labelComponentWrapper">
        <div class="label">Report Name</div>
        <et-multiselect-dropdown
          [dropdownList]="reportNameDropdownData"
        ></et-multiselect-dropdown>
      </div>
    </div>
    <div class="filterGroup5">
      <div class="labelComponentWrapper">
        <div class="label">Business Date</div>
        <et-multiselect-dropdown></et-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="gridWrapper">
    <et-error-details-grid
      [errorDetailsGridData]="errorDetailsGridData"
    ></et-error-details-grid>
  </div>
</div>
