<div class="executiveSummaryContianer">
  <!--   <mat-toolbar color="primary">
    <span> Summary And Error Details</span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar> -->
  <mat-tab-group>
    <mat-tab label="Executive Summary">
      <et-executive-summary
        [summaryApplicationDropdownData]="summaryApplicationDropdownData"
        [summaryMngInfoExecDropdownData]="summaryMngInfoExecDropdownData"
        [summaryDateDropdownData]="summaryDateDropdownData"
        [summaryInfoExecDropdownData]="summaryInfoExecDropdownData"
        [title]="app_title"
        [smallTilesData]="smallTilesData"
        [data]="data"
        [bigTilesDataByInformationCat]="bigTilesDataByInformationCat"
        [bigTilesDataByDimension]="bigTilesDataByDimension"
        [bigTilesDataByReportingType]="bigTilesDataByReportingType"
      >
      </et-executive-summary>
    </mat-tab>
    <mat-tab label="Error Detail Dashboard">
      <et-error-details
        [applicationDropdownData]="applicationDropdownData"
        [databaseDropdownData]="databaseDropdownData"
        [tableDropdownData]="tableDropdownData"
        [dimentionDropdownData]="dimentionDropdownData"
        [ruleDropdownData]="ruleDropdownData"
        [cdeDropdownData]="cdeDropdownData"
        [mngInfoStewardDropdownData]="mngInfoStewardDropdownData"
        [infoStewardDropdownData]="infoStewardDropdownData"
        [reportExecDropdownData]="reportExecDropdownData"
        [infoCatDrpdownData]="infoCatDrpdownData"
        [reportingTypeDropdownData]="reportingTypeDropdownData"
        [reportNameDropdownData]="reportNameDropdownData"
        [onSlectApplicationItem]="onSlectApplicationItem"
        [applicationSelectedItems]="applicationSelectedItems"
        [errorDetailsGridData]="errorDetailsGridData"
      >
      </et-error-details>
    </mat-tab>
  </mat-tab-group>
</div>
