<nz-table>
  <thead>
    <tr>
      <th>Business Date</th>
      <th>Application</th>
      <th>Table</th>
      <th>Column</th>
      <th>Rule</th>
      <th>Rule Description</th>
      <th>SQL</th>
      <th>Argument Text</th>
      <th>Dimension</th>
      <th>DQ Issue Count</th>
      <th>PK Name</th>
      <th>PK Value</th>
      <th>Failed Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>""</td>
    </tr>
  </tbody>
</nz-table>
