<nz-table [nzScroll]="{ y: '240px' }">
  <thead>
    <tr>
      <th>Business Date</th>
      <th>Application</th>
      <th>Table</th>
      <th>Column</th>
      <th>Rule</th>
      <th>Rule Description</th>
      <th>SQL</th>
      <th>Argument Text</th>
      <th>Dimension</th>
      <th>PK Name</th>
      <th>PK Value</th>
      <th>Failed Value</th>
      <th>DQ Issue Count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of errorDetailsGridData">
      <td>{{ row.businessDate }}</td>
      <td>{{ row.application }}</td>
      <td>{{ row.table }}</td>
      <td>{{ row.column }}</td>
      <td>{{ row.rule }}</td>
      <td>{{ row.ruleDescription }}</td>
      <td>{{ row.sql }}</td>
      <td>{{ row.argumentText }}</td>
      <td>{{ row.dimension }}</td>
      <td>{{ row.pkName }}</td>
      <td>{{ row.pkValue }}</td>
      <td>{{ row.failedValue }}</td>
      <td
        title="  Business Date: {{ row.businessDate }},
                 DQ Issue Count: {{ row.application }},
                 Table: {{ row.table }},
                 Column: {{ row.column }},
                 Rule: {{ row.rule }},
                 Rule Description: {{ row.ruleDescription }},
                 SQL : {{ row.sql }},
                 argument Text: {{ row.argumentText }},
                 Dimension: {{ row.dimension }},
                 PK Name: {{ row.pkName }},
                 PK Value: {{ row.pkValue }},
                 Failed Value: {{ row.failedValue }}"
      >
        {{ row.dqIsuueCount }}
      </td>
    </tr>
  </tbody>
</nz-table>
