<div class="summaryComponentsContainer">
  <et-header
    [summaryApplicationDropdownData]="summaryApplicationDropdownData"
    [summaryMngInfoExecDropdownData]="summaryMngInfoExecDropdownData"
    [summaryDateDropdownData]="summaryDateDropdownData"
    [summaryInfoExecDropdownData]="summaryInfoExecDropdownData"
  ></et-header>
  <div class="smallTilesContianer">
    <et-small-tile
      [title]="app_title"
      [smallTilesData]="smallTilesData"
      [data]="data"
    ></et-small-tile>
    <div class="bigTilesContianer">
      <et-big-tile-component
        [bigTilesDataByInformationCat]="bigTilesDataByInformationCat"
        [bigTilesDataByDimension]="bigTilesDataByDimension"
        [bigTilesDataByReportingType]="bigTilesDataByReportingType"
      ></et-big-tile-component>
    </div>
    <div class="graphComponentContainer">
      <et-dq-score-graph></et-dq-score-graph>
    </div>
    <div class="metricGraphComponentContainer">
      <et-error-details-metric-grid></et-error-details-metric-grid>
    </div>
  </div>
</div>
