.smallTilesWrapper {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 2px;
}
.tileApplicationContainer,
.tileDatabaseContainer {
  width: 15%;
  height: 75.9px;
  border: solid 0.5px;
  margin-right: 0.5px;
}

.smallTileContentWrapper {
}
.smallTileContentWrapper .name,
.smallTileContentWrapper .count {
  text-align: center;
}
